

#hd {
	text-align:center;
	color: purple;
	border-style:solid;
	border-color:purple;
	border-width:0.5em;
	margin:1.23em;
	background-image:url(index.jpeg);
	background-repeat:no-repeat;
}

#mk{
	font-family:sans-serif;
	font-size:35px;
}

#intro{
	font-size:25px;	
	text-align:center;
	color:green;
	}

#textb{
	font-family:Georgia,serif;
	color:green;
	font-size:18px;	
	}

#formsc{
	text-align:center;
	border-style:dashed;
	border-color:purple;
	color:purple;
	padding:0.5em;
	line-height:0.5em;
}

#notice{
	color:maroon;
	line-height:1em;
	font-family:sans-serif;
	}

#footer{
	font-size:23px;
	color:green;
	text-align:center;
	}

