#re{
	text-align:center;
	text-decoration:underline;
	color:black;
	font-size:30px;
	}
#info{
	font-family:sans-serif;
	line-height:1.2em;
}

#res{
	color:maroon;
	font-family:sans-serif;
	line-height:1em;
	}
#not{
	color:red;
	font-size:20px;
	}
	
